.wrapper {
   background-color: aqua;
    border: 5px solid black;
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.block {
    background-color: yellow;
    border: 5px solid green;
    width: 300px;
    height: 150px;
    margin:0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.block__item{
    background-color: black;
    border: 1px solid green;
    width: 30px;
    height: 30px;
    margin:0px 0px 0px 0px;
   
}

/*body {
    display: flex;
    justify-content: center;
    border: 5px solid yellow;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 700px;
    border: 5px solid black;
}
.block {
    display: flex;
    border: 5px solid green;
    align-items: start;
    justify-content: center;
    width: 400px;
    height: 400px;
}
.block__row {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 200px;
    height: 200px;
    background-color: rgb(16, 19, 9); 
}
.block__column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 5px solid blue;
   
}
.block__item {
    font-size: 20px;
    color: white;
    
}*/